@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f6f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-datepicker-wrapper {
  @apply w-full;
}

.salon-slick {
  > div {
    height: 100%;
  }
}
button[data-testid="carousel-indicator"] {
  display: none;
}

.result-card-img > img {
  max-height: 280px;
}

@media (max-width: 510px) {
  .username-width-change {
    width: 12rem;
  }
  .addpet-description-hidden {
    display: none;
  }
  .addpet-button-change {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
  }
  .addpet-button-wrap-change {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .addpet-button-fragment-change {
    border: 0;
    height: 10rem;
  }
  .infopet-allinfo-size-change {
    width: 5rem;
  }
  .infopet-info-hidden {
    display: none;
  }
  .likestore-info-size-change {
    width: 80%;
  }
  .likestore-info-hidden {
    display: none;
  }
  .likestore-fragment-height {
    height: 11rem;
  }
  .likestore-img-size-change {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
  }
}

@media (max-width: 550px) {
  .likestore-img-size-change {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
  }
}

@media (max-width: 400px) {
  .username-width-change {
    width: 10rem;
  }
  .infopet-additionalinfo-hidden {
    display: none;
  }
  .infopet-flex-direction {
    flex-direction: column;
    justify-content: center;
    gap: 2px;
  }
  .infopet-fragment-size-change {
    height: 12rem;
  }
  .infopet-wrap-size-change {
    height: 9rem;
    gap: 0px;
  }
  .infopet-info-justify-change {
    justify-content: center;
  }
  .infopet-info-hidden {
    display: flex;
  }
  .addpet-button-fragment-change {
    height: 12rem;
  }
  .infopet-mainpet-label-change {
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem;
  }
  .infopet-allinfo-size-change {
    width: 10rem;
  }
  .likestore-img-size-change {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  .likestore-fragment-height {
    height: 9rem;
  }
}

.notice-accordion > div button:hover,
.notice-accordion > div button:focus {
  --tw-ring-opacity: 0;
  --tw-bg-opacity: 0;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity));
  background-color: transparent;
}

/* 예약하기 datapicker */
.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker__input-container input {
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  background: none;
  padding-left: 30px;
}
